# Configuration PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fdr_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# URL de connexion DB complète pour psycopg
DATABASE_URL=postgresql://postgres:postgres@db:5432/fdr_db

# Configuration Redis / Celery
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=${REDIS_URL}
CELERY_RESULT_BACKEND=${REDIS_URL}

# APP configuration
SECRET_KEY=super-secret-key-to-change-in-prod

# Keycloak OIDC
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_ISSUER=http://localhost:8080
KEYCLOAK_REALM=fdr
KEYCLOAK_CLIENT_ID=fdr-etl
KEYCLOAK_SUPERSET_CLIENT_ID=fdr-superset
KEYCLOAK_SUPERSET_SECRET=superset-secret-change-in-prod
KEYCLOAK_SUPERSET_INTERNAL_URL=http://kc-host:8080

# Superset
SUPERSET_INTERNAL_URL=http://superset:8088
SUPERSET_SERVICE_USERNAME=svc_fdr_api
SUPERSET_SERVICE_PASSWORD=bvaCNxMSFhqz66t0t0d2AnQjQhuZ+BwXDRHJhqMOpSs=
SUPERSET_SECRET_KEY=une_cle_tres_secrete_123
